<nav class="navbar navbar-light navbar-expand-md bg-white container">
    <div class="container-fluid"><a class="navbar-brand" href="/" style="color: var(--bs-orange);">PrivateEvents</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to 'Create Event', new_event_path, class: 'nav-link active'  %>
                <li class="nav-item">
                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link active' %>
                    </li>
                <% else %>
                    <li class="nav-item"><a class="nav-link active" href="/users/sign_in">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users/sign_up">Register</a></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
